<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
	data-sly-call="${clientlib.all@categories='brandportal.link-list'}"/>

<div style="text-align: center" data-sly-test="${wcmmode.edit && !properties.title}">Edit Link List</div>
<div  class="aem-link-list" data-sly-test="${properties.title}">
	<div class="panel ${properties.linkListStyle}">
		<div class="panel-heading" data-sly-test="${properties.title}">
			<h3 class="panel-title">${properties.title}</h3>
		</div>   
		<div class="panel-body" data-sly-use.listObj="com.adobe.brandportal.core.models.LinkListUse" data-sly-test="${(listObj.linkListItems) || properties.description}">${properties.description}
        <br data-sly-test="${properties.description}"/>
			<ul class="list-group" data-sly-list.linkObj="${listObj.linkListItems}" data-sly-test="${(listObj.linkListItems)}">
				<li  class="list-group-item">
	               <i class="glyphicon glyphicon-new-window"></i> <a href="${linkObj.itemUrl}" title="${linkObj.itemToolTip}" target="${linkObj.itemTarget}"><i class="fa fa-li ${linkObj.itemIcon}"></i>${linkObj.itemLabel}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
